body{
    background-image: url("images/green_matrix_code_world_map-wallpaper-7680x4800.jpg") ;
    /* background-size: cover; */
    background-repeat: no-repeat;
    color:whitesmoke
}

div {
    display: flex;
    justify-content:space-evenly;
}

#transparent_box {
    /* background-color: red;
    border: 4mm ridge rgba(211, 220, 50, .6); */
    /* height:85vh; 
    width:70vh; */
}

#paragraph_information_background{
    /* background-color: green;
    border: 4mm ridge yellow;
    height:90vh; 
    width:70vh; */
    text-align: center;
}

p{
    word-break: break-all;
    white-space: normal;
}

h1{
    text-align: center;
    font-size: 100px;
}

footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#website_Navigation{
    position:fixed;
    bottom: 80%;
    left: 50px;
    background-color: green;
    min-width: 100px;
    height: 125px;
    width: 160px;
    color:red;
    text-align: start;
}

#page{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

#page:hover{
    color: lime;
    text-decoration: underline;
}

#jobs{
    display:flex;
    flex-direction: column;
    text-align: center;
}