body{
    background-image: url("images/green_matrix_code_world_map-wallpaper-7680x4800.jpg") ;
    /* background-size: cover; */
    background-repeat: no-repeat;
    color:whitesmoke
}

div {
    display: flex;
    justify-content:space-evenly;
}

p{
    word-break: break-all;
    white-space: normal;
}

h1{
    text-align: center;
    font-size: 100px;
}

footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#website_Navigation{
    position:fixed;
    bottom: 80%;
    left: 50px;
    background-color: green;
    min-width: 100px;
    height: 125px;
    width: 160px;
    color:red;
    text-align: start;
}

#page{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

#page:hover{
    color: lime;
    text-decoration: underline;
}

#projects{
    display:flex;
    flex-direction: row;
    text-align: center;
}

#proj{
    background-color: green;
    margin: 12px;
    font-size: 50px;
}

img {
    max-width: 500px;
}